h1{
         text-align: center
}

    p{
         text-align: center
         
  }
  
  h3{
    font-size: 13px
  }
  
p strong{
        color: red
}

    p i{
        color: burlywood
}

p{
        font-family: Arial, Helvetica, sans-serif
}

   #foto1{
          width: 370px
}

#sf{
          width: 370px
}

  #bola{
         width: 370px
}

p2{
         font-size: 14px
}

    p2{
         color: grey
}

p4{
         font-size: 13px
}

    p4{
         color: grey
}

p3{
         font-size: 17px
}

    p3{
         color: black
}


p5{
         font-size: 17px
}

    p5{
          color: black
}

#Cesta{
  width: 370px
}

P7{
  font-size: 14px
}
p7{
  color: grey
}

p8{
  font-size: 17px
}

p8{
  color: black
}